<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <v:tag name="nav" class="t3v-navigations-quick-navigation navigation" hideIfEmpty="true">
    <f:if condition="{primaryItems}">
      <f:render partial="ContentElements/QuickNavigationContentElement/QuickNavigation/Entries/Primary" arguments="{items: primaryItems}" />
    </f:if>

    <f:if condition="{secondaryItems}">
      <f:render partial="ContentElements/QuickNavigationContentElement/QuickNavigation/Entries/Secondary" arguments="{items: secondaryItems}" />
    </f:if>
  </v:tag>
</html>