<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <v:variable.set name="layout" value="{settings.layout}" />

  <div id="c{data.uid}" class="ce--t3v-navigations-subpages-navigation ce--{layout} ce">
    <v:variable.set name="container" value="{f:cObject(typoscriptObjectPath: 'lib.t3v.navigations.config.contentElements.subpagesNavigationContentElement.container')}" />

    <f:if condition="{settings.container}">
      <v:variable.set name="container" value="{settings.container}" />
    </f:if>

    <f:if condition="{container}">
      <f:then>
        <v:tag name="div" class="ce__container container--{container} container" hideIfEmpty="true">
          <f:render section="ContentElement" arguments="{settings: settings}" />
        </v:tag>
      </f:then>

      <f:else>
        <f:render section="ContentElement" arguments="{settings: settings}" />
      </f:else>
    </f:if>
  </div>
</html>